@media(max-width: 767px){

    .d-banner{
        display: none;
    }

    .header__brand {
        padding: 20px 10px 10px;
        /* text-align: center; */
    }

    .header__nav {
        margin: 10px 10px;
        display: none;
    }

    .nav__link {
        display: block;
        padding: 7px 0 5px 5px;
        border-bottom: 1px solid #525252;
    }

    .hamberger {
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 25px;
        right: 0;
        padding: 0; 
      }
    
    .line {
        fill: none;
        stroke: rgb(224, 224, 224);
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

}

@media(min-width: 768px){
    
    .m-banner{
        display: none;
    }

    .hamberger {
        display: none;
    }

    .wrap__container {
        width: 80%;
    }

    .body__header header {
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header__nav ul li + li {
        margin-left: 40px;
    }

    .slider__header {
        background-color: #000;
        position: fixed;
        top: 0;
    }
}

@media(min-width: 992px){

    /* banner section */
    .body__banner {
        
    }

    .body__banner img {
        height: 100vh;
    }
}
