@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

/* 
    font-family: 'Rubik', sans-serif; 
*/

:root {
    --color-white: #ffffff;
    --color-theme: #FE6600;
    --color-dark: #212529;

    --color-light-gray: #f5f5f5;
    --color-dark-gray: #5c5c5c;

    --font-primary: 'Rubik', sans-serif;
  }

  ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  a:hover {
    text-decoration: none;

  }

  /* default styling */
  .py-60 {
    padding: 60px 0;
  }

  .pb-35 {
      padding-bottom: 35px;
  }
    .body__wrap {
        position: relative;
    }

    .wrap__container{
        margin: 0 auto;
    }

    .section__header{
        text-align: center;
        font-family: 'Rubik', sans-serif;
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
        position: relative;
    }

    .section__header::after {
        content: "";
        width: 50px;
        height: 4px;
        background-color: var(--color-theme);
        position: absolute;
        top: 60px;
        left: 48%;
    }

    .primary-btn {

    }

  /* ===============================
  
        body header section 
        
    ================================*/
    .body__header {
        background-color: rgba(0, 0, 0, 0.801);
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 99;
        /* background-image: url('../img/bg/Tortoise-Shell.svg'); */
    }

    .fix-search {
        position: fixed;

    }

    .nav__link {
        font-family: 'Rubik', sans-serif; 
        color: #fff;
        transition: 200ms;
    }
    

    .nav__link:hover {
        color: rgb(190, 190, 190);
    }

    /* banner section */
    
    .body__banner img {
        width: 100%;
    }

    .body__container {
        height: 100vh;
    }

    /* 
        section location
    */

.section__location {
    /* background-color: var(--color-light-gray); */
    height: 350px;
    background-color: #f6f6f6;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23eeeeee' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.section__location article img{
    width: 100%;
}

.section__location article {
    position: relative;
}

.section__location .block__header {
  /* -ms-transform: rotate(-90deg);*/
  transform: rotate(-90deg); 
  color: #fff;
  position: absolute;
  left: -7%;
  bottom: 14%;
}

.section__location .block__header h2 {
    font-family: 'Rubik', sans-serif; 
    font-size: 17px;
    font-weight: 300;
    text-transform: uppercase;
    transition: 200ms;

}

.section__location .location__content {
    width: 100%;
    height: 100%;
    background-color:#020202b0;
    position: absolute;
    top:0;
    transition: 200ms;
}

.section__location .location__content:hover {
    background-color:#0000005d;
    /* height: 36%; */
}



.section__location .location__content:hover h2 {
    /* background-color:#0000005d; */
    /* height: 36%; */
    /* display: none; */
    /* letter-spacing: 3px; */
}

/* .section__location figure {
    width: 370px;
    overflow: hidden;
}

.section__location  img {
    width: 100%;
}

.section__location article:hover img {
    transform: scale(1.1)
} */

.owl-item > article {
    background-color:#fff;
    cursor: pointer;
    margin: 10% 8%;
    transition: margin 0.4s ease;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.6);
  }

  .owl-item img {
    border: 1px solid #f9f9f9;
    padding: 1px;
  }
  
  .owl-item.center > article {
    cursor: auto;
    margin: 0;
  }

  .owl-item:not(.center) > article:hover {
    /* background-color:#000000e7; */
    background-color:#bdbdbde7;
  }

.section__tag {
    height: 300px;
    width: 100%;
    /* background-color:#fbc61c; */
    /* background-image: url(../img/banner/banner-1-sm.jpg); */
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-position: center;
    /* opacity: 0.3; */
    background-color: #6a5f0e;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239c92ac' fill-opacity='0.29' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}